/* class goes here */
.footer-highlight {
    background: #C2A56D;
    color: #000000;
}
.h1 {
    margin: 5px;
    border-radius: 10px;
    background: #547A95;
}
.head {
    background-image: url("https://i.ibb.co/fYS0RCQc/IMG-0102-20260415-142655-0000.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-height: 100%;
    background-position: center;
    font-size: 30px; 
    height: 450px; 
    padding-top: 20px;
   
}
.head span {
    text-align: center;
    position: absolute;
    background: white;
    float: right;            
    right: 30%;
    left: 30%;
}
.icon {
    border: none;
    height: 20px;
    display: inline-block;
}
.nav {
    display: block;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background: #003049;
    text-transform: uppercase;
}
.nav-icon {
    display: inline-block;
}
.next-to {
    position: sticky;
    right: 25%;
    float: right;
    font-size: 20px;
    font-weight: normal;
}
.no-bg {
    background: none;
}
.no-border {
    border: none;
}
.section-1 {
    clear: right;  
}
.title {
    text-align: center;
    display: block;
    background: #2C3947;
}
/* main goes here */
a {
    font-weight: bold;
    text-decoration: none;
    border-top: 1px solid blue;
    border-bottom: 1px solid red;
}
a:hover {
    filter: invert(1);
    text-decoration: underline;
}
body {
    border-radius: 25px 50px 10px;
    border-collapse: separate;
    background: #E8EDF2;
    font-family: Arial;
    font-size: 20px;
}
div {
    padding: 20px;
    border-radius: 10px;
}
footer {
    color: white;
    padding: 10px 10px 20px 5px;
    background: #003049;
}
img {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
p {
    margin-left: 10%;
    margin-right: 10%;
}
/* Id goes here */
#highlight {
    border-radius: 5px;
    text-shadow: 5px 5px 5px black;
    background: red;
    color: yellow;
}