/* id goes here */
#highlight {
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    text-shadow: 5px 5px 5px black;
    background: red;
    color: yellow;
}
/* end of id */



/* class goes here */
.but-a {
    color: black;
    border: none;
    border-top: none;
    border-bottom: none;
    border-left: 10px solid white;
    border-right: none;
    border-radius: 10px 0 0 10px;               
    background: white;
}
.but-b {
    color: black;
    border: none;
    border-top: none;
    border-bottom: none;
    border-left: 10px solid white;
    border-right: none;
    border-radius: 0 10px 10px 0;               
    background: white;
}
.col {
    column-count: 2;
    word-wrap: break-word;
}
.footer-highlight {
    background: #C2A56D;
    color: #000000;
}
.gallery img {
    width: 200px;
    margin: auto;
}
.head {
    background-image: url("https://i.ibb.co/fYS0RCQc/IMG-0102-20260415-142655-0000.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-height: 100%;
    background-position: center;
    font-size: 30px; 
    height: 450px; 
    padding-top: 20px;
   
}
.head span {
    text-align: center;
    position: absolute;
    background: white;
    float: right;            
    right: 30%;
    left: 30%;
}
.icon {
    vertical-align: middle;
    border: none;
    height: 20px;
    display: inline-block;
}
.nav {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background: #2C3947;
    text-transform: uppercase;
}
.nav-top {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: #2C3947;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    z-index: 1;
}
.next-to {
    background: white;
    display: flex;
    flex-wrap: wrap;
}
.no-bg {
    background: none;
}
.social-icon {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.title {
    padding-top: 10px;
    color: white;
    text-align: center;
    display: block;
    background: #2C3947;
}
/* end of class */



/* main goes here */
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-top: 1px solid blue;
    border-bottom: 1px solid red;
}
a:hover {
    filter: invert(1);
    text-decoration: underline;
}
body {
    background: #E8EDF2;
    font-family: Arial;
    font-size: 20px;
}
div {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
footer {
    color: white;
    font-size: 15px;
    padding: 10px 10px 20px 5px;
    background: #2C3947;
}
h1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    padding-left: 20px;
    border-radius: 5px;
    border-left: 5px solid #547A95;
}
img {
    border-right: 5px inset black;
    border-bottom: 5px inset black;
    border-radius: 10px;
}
p {
    margin-left: 10%;
    margin-right: 10%;
}
/* end of main */